<div class="container">



    <h1>Kurser för datateknik</h1>

    <form [formGroup]="inputform" style="margin-top: 50px; width: 90%;">                        
        <label for="sokord"><span>Sökord</span>
        <input (input)="filtersokord()" type="text" formControlName="sokord" id="sokord">
        </label>
        
    </form>
    
    <div>
        <table >
            
            <tr>
                <th (click)="sort_code()" >Kurskod</th>
                <th (click)="sort_coursename()" >Namn</th>
                <th (click)="sort_progression()" >Progression</th>
            </tr>
            <tbody id="kurslista">
                <tr *ngFor="let course of courselist">
                    <td>{{ course.code }}</td>
                    <td> <a href="{{ course.syllabus }}"> {{ course.coursename }}</a></td>
                    <td>{{ course.progression }}</td>
    
                </tr>
            </tbody>


        </table>
    </div>

</div>